*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans Arabic', montserrat;
    text-align: center;
}


body{
    background-image: url(images/mainsec_background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}


h1{
    font-size: 4em;
    color: rgb(135, 145, 29);
    font-weight: 900;
    margin-top: 50px;
}

h6{

    padding: 1px;
    font-size: 1.2em;
    color: rgb(203, 233, 203);
    font-weight: 400;
    background-image: linear-gradient(to left , #2e6c1742 , rgba(0, 148, 0, 0.218))
    
    
}


p{
    margin-top: 20px;
    font-size: 2em;
    font-weight: 700;

}


select{
    font-size: 0.6em;
    border-radius: 15px;
    border: none;
    padding: 2px;
    color: darkgreen;
    font-weight: 700;
}


#generate-btn{
    margin-top: 30px;
    font-weight: 800;
    font-size: 1em;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: darkgreen;
    background-color: whitesmoke;
    transition: 0.5s ease;
}


#generate-btn:hover{
    cursor: pointer;
    font-size: 1.5em;
    background-color: darkgreen;
    color: white;
}

button{
    margin-top: 180px;
}



#lgoopass {
    width: 400px;
    height: auto;
    display: block;
    margin: 40px auto;
    margin-top: 74px ;
  }


  #arabic{
   margin-bottom: 15px;
   font-weight: 800;
   font-size: 0.7em;
   padding: 8px;
   border-radius: 15px;
   border: none;
   color: rgb(0, 138, 0);
   background-color: whitesmoke;
   transition: 0.5s ease;
   margin-top: 30px;
   text-decoration: none;
  }

  #arabic:hover{
    background-color: rgb(7, 0, 100);
    color: white;

  }

  #ad{
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 0.7em;
    padding: 8px;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease;
    margin-top: 30px;
    text-decoration: none;
  }

  #ad:hover{
    background-color: rgb(61, 121, 61);
    color: rgb(223, 203, 203);
    font-size: 1.2em;
    
   
  }


  #idea{
    margin-bottom: 20px;
    background-color: rgba(0, 100, 0, 0.155);
    font-size: 1.1em;
  }


  
  .span2{
    font-weight: 900;
    color: darkgreen;
  }

  #fr{
    margin-top: 60px;
    color: darkgreen;

  }
  @media only screen and (max-width: 600px) {
    #lgoopass {
        width: 300px;
        height: auto;
        display: block;
        margin: 40px auto;
        margin-top: 150px ;
      }


      select{
        margin-top: 25px;
      }


      #idea{
        font-size: 1.1em;
      }


      h6{
        color: rgb(28, 98, 9);
      }


      body{
        background-image: url(images/mainsec_bg_phone.png);
      }
    

}

@media only screen and (max-height: 670px){
  #lgoopass{
    margin-top: 80px;

  }

  #generate-btn:hover{
    font-size: 1.1em;
  }

  #generate-btn{
    margin-top: 15px;
  }

  select{
    font-size: 0.4em;
  }
}